.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8rem;
}

.App-header {
  background-color: #4fc5b6;
  height: 8rem;
  padding: 2rem;
  color: white;
}

.App-title {
  font-size: 1.5rem;
}

.App-intro {
  font-size: large;
}

/*the grid*/
.Grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'a g d'
    'b g e'
    'c g f';
}

.HeaderLeft {
  grid-area: a;
}

.Icon-left {
  grid-area: b;
}

.Button-left {
  grid-area: c;
}

.HeaderRight {
  grid-area: d;
}

.FormInput {
  grid-area: e;
}

.Button-right {
  grid-area: f;
}

.HeaderMiddle {
  grid-area: g;
}

/*paragraph*/
p {
  font-family: Helvetica;
  font-size: 1.6rem;
  color: #2c2d30;
  letter-spacing: 0;
  line-height: 2.4rem;
}

h4 {
}

/*the Box class in the FrontPage*/
.Box-outer {
  width: 80rem;
  margin: 5rem auto;
}

.Box-inner {
  background: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1.1rem 2.2rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
  padding: 5rem 8rem;
  margin-bottom: 10rem;
}

.FormInput {
  border: 0.3rem solid #4fc5b6;
  border-radius: 3%;
}

.FormField {
  width: 100%;
  margin: 0 auto 1rem auto !important;
}

/*RepsPage*/
.ui.card {
  width: 20rem;
  border: 0.3rem solid #4fc5b6;
  border-radius: 2%;
}

.RepImage {
  width: inherit;
  border: 0.3rem solid #4fc5b6;
  border-radius: 50%;
}
