/*for the buttons on the front page*/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem; /*make the corners round*/
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

/*moves it up and gives it shadow when hovered*/
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #000;
  color: #fff;
}

/*absolute position refers to first parent element with relative position
this element refers to the relative position in .btn*/
.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

/*remember to put animate (transition: all 0.4s;) in the original state*/
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; /*fades out the element*/
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #4fc5b6;
  height: 8rem;
  padding: 2rem;
  color: white;
}

.App-title {
  font-size: 1.5rem;
}

.App-intro {
  font-size: large;
}

/*the grid*/
.Grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'a g d'
    'b g e'
    'c g f';
}

.HeaderLeft {
  grid-area: a;
}

.Icon-left {
  grid-area: b;
}

.Button-left {
  grid-area: c;
}

.HeaderRight {
  grid-area: d;
}

.FormInput {
  grid-area: e;
}

.Button-right {
  grid-area: f;
}

.HeaderMiddle {
  grid-area: g;
}

/*paragraph*/
p {
  font-family: Helvetica;
  font-size: 1.6rem;
  color: #2c2d30;
  letter-spacing: 0;
  line-height: 2.4rem;
}

h4 {
}

/*the Box class in the FrontPage*/
.Box-outer {
  width: 80rem;
  margin: 5rem auto;
}

.Box-inner {
  background: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1.1rem 2.2rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
  padding: 5rem 8rem;
  margin-bottom: 10rem;
}

.FormInput {
  border: 0.3rem solid #4fc5b6;
  border-radius: 3%;
}

.FormField {
  width: 100%;
  margin: 0 auto 1rem auto !important;
}

/*RepsPage*/
.ui.card {
  width: 20rem;
  border: 0.3rem solid #4fc5b6;
  border-radius: 2%;
}

.RepImage {
  width: inherit;
  border: 0.3rem solid #4fc5b6;
  border-radius: 50%;
}
